html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

.my_header{
  background: aquamarine;
    
}

.title-card-text{
    color: black;
    }





.footer{
    padding-top: 30px;
    }
